{% extends 'layoutes/base.html' %}

{% block content %}
		<nav classe ="listVertical"> <!-- debut de la liste  -->
			<h2> la liste des langages </h2>
			<ul id="listMenuVertical">
				<li>
					<a href="#">langage C </a>
				</li>
				<li>
					<a href="#">langage C++ </a>
				</li>
				<li>
					<a href="#">langage python </a>
				</li>
				<li>
					<a href="#">langage java-jee </a>
				</li>
				<li>
					<a href="#">langage perl </a>
				</li>
				<li>
					<a href="#">langage ocaml </a>
				</li>
				<li>
					<a href="#">SGBD mysql </a>
				</li>
			</ul>
		</nav> <!-- fin de la liste -->
		<section classe ="contenu"> <!-- contenu de la page -->
			<li><a href="#">Participe</a></li>
			<li><a href="#">creer-un-Quiz</a></li>
		</section> <!-- fin du contenu de la page -->
{% endblock %}